* {
    margin: 0;
    padding: 0;
  }
  
  /*
  score style 
  */
  .h1styler {
    color: white;
    font-family: sans-serif;
    font-size: 4rem;
    position: absolute;
    bottom: 100px;
  }
  
  /* score in the middle */
  #player1Score {
    left: 35%;
    font-family: "Sixtyfour", sans-serif;
  
  }
  #player2Score {
    right: 35%;
    font-family: "Sixtyfour", sans-serif;
  
  }
  
  
  .styler {
    margin-top: 0;
    font-size: 80px;
    text-align: center;
    color: #4ec7ff;
    text-shadow: 0px 0px 1000px #38d1ff;
    filter: drop-shadow(0px 0px 0px #38d1ff);
    /*font style*/
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" -43;
  }
  
  /*flickering effect*/
  @keyframes flickering {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      opacity: 1;
    }
    20%,
    24%,
    55% {
      opacity: 0;
    }
  }
  
  .flickering {
    animation: flickering 1.5s infinite;
    -webkit-animation: flickering 1s infinite;
    color: white;
  }
  
  .bigger {
    font-size: 135px;
  }
  
  .canvas-container {
    position: relative;
    width: 100%; 
    height: 100vh;
  }
  
  #canvas {
    width: 100%;
    height: 100%;
    display: block; 
  }
  
  /*setting up the font in the middle of the canvas*/
  .inside-canvas {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center;
  }
  